<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal-Liberty/assets/images/banner1.jpg", "/Traversal-Liberty/assets/images/banner2.jpg","/Traversal-Liberty/assets/images/banner3.jpg", "/Traversal-Liberty/assets/images/banner4.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Seyahatler İçin Uzağa Gitmeye Gerek Yok.</h3>
                        <h6 class="mb-3">Bir Sonraki Maceranı Hemen Planla</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form action="#" method="post" class="booking-form">
                                <div class="row book-form">
                                    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <select name="selectpicker" class="selectpicker">
                                            <option value="">Rotalar</option>
                                            <option value="africa">Afrika</option>
                                            <option value="america">Amerika</option>
                                            <option value="asia">Belçika-Hollanda</option>
                                            <option value="eastern-europe">Balkan Turu</option>
                                            <option value="europe">Avrupa</option>
                                            <option value="south-america">Birleşik Krallık</option>
                                            <option value="america">Mısır Turu</option>
                                            <option value="america">İspanya-Tunus</option>
                                            <option value="america">Doğu Anadolu Turu</option>
                                            <option value="america">Karadeniz Turu</option>
                                            <option value="america">Akdeniz Turu</option>
                                            <option value="america">İtalya Turu</option>
                                            <option value="america">Yunan Adaları Turu</option>
                                            <option value="america">Katar Turu</option>
                                            <option value="america">Birleşik Arap Emirlikleri Turu</option>
                                            <option value="america">Azerbaycan Turu</option>
                                            <option value="america">Kazakistan Turu</option>
                                            <option value="america">Kırgızistan Turu</option>
                                            <option value="america">Özbekistan Turu</option>
                                            <option value="america">Türkmenistan Turu</option>
                                            <option value="america">Kuzey Kıbrıs Turu</option>
                                            <option value="america">Çin Turu</option>
                                            <option value="america">Japonya Turu</option>
                                            <option value="america">Brezilya Turu</option>
                                            <option value="america">Fransa Turu</option>
                                            <option value="america">Güney Amerika Turu</option>
                                            <option value="america">Fransa Turu</option>
                                            <option value="america">Tayland Turu</option>
                                            <option value="america">Maldivler Turu</option>
                                            <option value="america">İsveç Turu</option>
                                            <option value="america">Norveç Turu</option>
                                            <option value="america">Singapur Turu</option>
                                            <option value="america">Kanada Turu</option>
                                            <option value="america">Grönland Turu</option>
                                        </select>

                                    </div>
                                    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <input type="date" name="" placeholder="Date" required="">
                                    </div>
                                    <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                        <button class="btn btn-style btn-secondary">
                                            <span class="fa fa-search mr-3"
                                                  aria-hidden="true"></span> Rota Ara
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>